*{
    margin: 0px;
    padding: 0px;
  }
  
  .hello{
    background-color: cadetblue;
    height: 50px;
  }

  .MainContainer{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(49, 69, 104);

    flex-direction: column;
  }

.form{
    /* border: 2px solid black; */
    background-color: rgb(99, 115, 185);
    color: white;
    /* height: 260px; */
    border-radius: 6px;
    padding: 30px;

}
.btn_submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

}

.inp{
    height: 20px;
    border-radius: 4px;
}

.showstyle{
  border: 3px solid gold;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin: 19px;
  padding: 4px;
  color: aliceblue;
background-color: rgb(99, 115, 185);}









